Integration Airtable.blueprint.json
{
    "name": "Integration Airtable",
    "flow": [
        {
            "id": 2,
            "module": "airtable:TriggerWatchRecords",
            "version": 3,
            "parameters": {
                "base": "appPkdFlGJXFpNok8",
                "view": "",
                "table": "tblvt4yyuV66P85O4",
                "config": {
                    "labelField": "Company",
                    "triggerField": "Created on"
                },
                "formula": "{Qualification}=\"Qualified\"",
                "maxRecords": 10,
                "__IMTCONN__": 10033834,
                "useColumnId": false
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "base": {
                            "label": "Lead Base"
                        },
                        "table": {
                            "label": "Lead Contact"
                        },
                        "config": {
                            "nested": {
                                "labelField": {
                                    "label": "Company"
                                },
                                "triggerField": {
                                    "label": "Created on"
                                }
                            }
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "My Airtable Token or Key connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "config",
                        "spec": [
                            {
                                "name": "triggerField",
                                "type": "select",
                                "label": "Trigger field",
                                "required": true
                            },
                            {
                                "name": "triggerField",
                                "type": "hidden"
                            },
                            {
                                "name": "labelField",
                                "type": "select",
                                "label": "Label field",
                                "required": true
                            }
                        ],
                        "type": "collection",
                        "label": "Trigger configuration"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "First Name",
                        "type": "text",
                        "label": "First Name"
                    },
                    {
                        "name": "Last Name",
                        "type": "text",
                        "label": "Last Name"
                    },
                    {
                        "name": "Phone",
                        "type": "text",
                        "label": "Phone"
                    },
                    {
                        "name": "Email",
                        "type": "text",
                        "label": "Email"
                    },
                    {
                        "name": "Company",
                        "type": "text",
                        "label": "Company"
                    },
                    {
                        "name": "Budget",
                        "type": "number",
                        "label": "Budget"
                    },
                    {
                        "name": "Created on",
                        "type": "date",
                        "label": "Created on"
                    },
                    {
                        "name": "Qualification",
                        "type": "text",
                        "label": "Qualification"
                    },
                    {
                        "name": " Message",
                        "type": "text",
                        "label": " Message"
                    },
                    {
                        "name": "Contacted on",
                        "time": false,
                        "type": "date",
                        "label": "Contacted on"
                    },
                    {
                        "name": "Notes",
                        "type": "text",
                        "label": "Notes",
                        "multiline": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 5,
                            "module": "google-email:ActionSendEmail",
                            "version": 2,
                            "parameters": {
                                "account": 10034466
                            },
                            "mapper": {
                                "cc": [],
                                "to": [
                                    "{{2.Email}}"
                                ],
                                "bcc": [],
                                "from": "",
                                "html": "hey {{2.`First Name`}}\nwe got your request for help with {{2.Company}} please feel free to book a call with me here: ",
                                "subject": "{{2.`First Name`}} lets talk",
                                "attachments": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "account": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            },
                                            "label": "My Google Restricted connection (hasanshahid345@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "type": "text",
                                                "label": "Content-ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Copy recipient"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Blind copy recipient"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 8,
                            "module": "airtable:ActionUpdateRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 10033834
                            },
                            "mapper": {
                                "id": "{{2.id}}",
                                "base": "appPkdFlGJXFpNok8",
                                "table": "tblvt4yyuV66P85O4",
                                "record": {
                                    "fldKtkX7cvJ6bTxeV": "{{now}}"
                                },
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "Lead Base"
                                        },
                                        "table": {
                                            "label": "Lead Contact"
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable2"
                                            },
                                            "label": "My Airtable Token or Key connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Record ID",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fld9RxsUu6FbMOMIe",
                                                "type": "text",
                                                "label": "First Name"
                                            },
                                            {
                                                "name": "fldpMVGjtW1dGX9ew",
                                                "type": "text",
                                                "label": "Last Name"
                                            },
                                            {
                                                "name": "fld4GKn8fy7MdUCN7",
                                                "type": "text",
                                                "label": "Phone"
                                            },
                                            {
                                                "name": "fld0ONHTKosO4HoHK",
                                                "type": "text",
                                                "label": "Email"
                                            },
                                            {
                                                "name": "fldjxevedz6p0YLD5",
                                                "type": "text",
                                                "label": "Company"
                                            },
                                            {
                                                "name": "fldxzXpNYBm5hAU1N",
                                                "type": "number",
                                                "label": "Budget"
                                            },
                                            {
                                                "name": "fldKtkX7cvJ6bTxeV",
                                                "time": false,
                                                "type": "date",
                                                "label": "Contacted on"
                                            },
                                            {
                                                "name": "fldmL0b89bjn7VBIp",
                                                "type": "text",
                                                "label": "Notes"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "First Name",
                                        "type": "text",
                                        "label": "First Name"
                                    },
                                    {
                                        "name": "Last Name",
                                        "type": "text",
                                        "label": "Last Name"
                                    },
                                    {
                                        "name": "Phone",
                                        "type": "text",
                                        "label": "Phone"
                                    },
                                    {
                                        "name": "Email",
                                        "type": "text",
                                        "label": "Email"
                                    },
                                    {
                                        "name": "Company",
                                        "type": "text",
                                        "label": "Company"
                                    },
                                    {
                                        "name": "Budget",
                                        "type": "number",
                                        "label": "Budget"
                                    },
                                    {
                                        "name": "Created on",
                                        "type": "date",
                                        "label": "Created on"
                                    },
                                    {
                                        "name": "Qualification",
                                        "type": "text",
                                        "label": "Qualification"
                                    },
                                    {
                                        "name": " Message",
                                        "type": "text",
                                        "label": " Message"
                                    },
                                    {
                                        "name": "Contacted on",
                                        "time": false,
                                        "type": "date",
                                        "label": "Contacted on"
                                    },
                                    {
                                        "name": "Notes",
                                        "type": "text",
                                        "label": "Notes",
                                        "multiline": true
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 7,
                            "module": "regexp:Parser",
                            "version": 1,
                            "parameters": {
                                "global": false,
                                "pattern": "value\"\\s*:\\s*\"([^\"]+)",
                                "multiline": false,
                                "sensitive": true,
                                "singleline": false,
                                "continueWhenNoRes": false
                            },
                            "mapper": {
                                "text": "{{2.` Message`}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 300
                                },
                                "restore": {},
                                "parameters": [
                                    {
                                        "name": "pattern",
                                        "type": "text",
                                        "label": "Pattern",
                                        "required": true
                                    },
                                    {
                                        "name": "global",
                                        "type": "boolean",
                                        "label": "Global match",
                                        "required": true
                                    },
                                    {
                                        "name": "sensitive",
                                        "type": "boolean",
                                        "label": "Case sensitive",
                                        "required": true
                                    },
                                    {
                                        "name": "multiline",
                                        "type": "boolean",
                                        "label": "Multiline",
                                        "required": true
                                    },
                                    {
                                        "name": "singleline",
                                        "type": "boolean",
                                        "label": "Singleline",
                                        "required": true
                                    },
                                    {
                                        "name": "continueWhenNoRes",
                                        "type": "boolean",
                                        "label": "Continue the execution of the route even if the module finds no matches",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "$1",
                                        "type": "text",
                                        "label": "$1"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 6,
                            "module": "slack:CreateMessage",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 10035788
                            },
                            "mapper": {
                                "text": "{{7.`$1`}}",
                                "parse": false,
                                "mrkdwn": true,
                                "channel": "C095YQH6RL3",
                                "channelType": "public",
                                "channelWType": "list"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "parse": {
                                            "mode": "chose"
                                        },
                                        "mrkdwn": {
                                            "mode": "chose"
                                        },
                                        "channel": {
                                            "mode": "chose",
                                            "label": "marketing-make"
                                        },
                                        "link_names": {
                                            "mode": "chose"
                                        },
                                        "channelType": {
                                            "label": "Public channel"
                                        },
                                        "channelWType": {
                                            "label": "Select from the list"
                                        },
                                        "unfurl_links": {
                                            "mode": "chose"
                                        },
                                        "unfurl_media": {
                                            "mode": "chose"
                                        },
                                        "reply_broadcast": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "slack3"
                                            },
                                            "label": "My Slack (bot) connection (make-twg8314.slack.com - make)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:slack2,slack3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "channelWType",
                                        "type": "select",
                                        "label": "Enter a channel ID or name",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "manualy",
                                                "list"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "blocks",
                                        "type": "text",
                                        "label": "Blocks"
                                    },
                                    {
                                        "name": "thread_ts",
                                        "type": "text",
                                        "label": "Thread message ID (time stamp)"
                                    },
                                    {
                                        "name": "reply_broadcast",
                                        "type": "boolean",
                                        "label": "Reply broadcast"
                                    },
                                    {
                                        "name": "link_names",
                                        "type": "boolean",
                                        "label": "Link names"
                                    },
                                    {
                                        "name": "parse",
                                        "type": "boolean",
                                        "label": "Parse message text"
                                    },
                                    {
                                        "name": "mrkdwn",
                                        "type": "boolean",
                                        "label": "Use markdown"
                                    },
                                    {
                                        "name": "unfurl_links",
                                        "type": "boolean",
                                        "label": "Unfurl primarily text-based content"
                                    },
                                    {
                                        "name": "unfurl_media",
                                        "type": "boolean",
                                        "label": "Unfurl media content"
                                    },
                                    {
                                        "name": "icon_emoji",
                                        "type": "text",
                                        "label": "Icon emoji"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon url"
                                    },
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "channelType",
                                        "type": "select",
                                        "label": "Channel type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "public",
                                                "private",
                                                "im",
                                                "mpim"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "channel",
                                        "type": "select",
                                        "label": "Public channel",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}